{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="slider">
  <div class="carousel">

      <div class="list">

          <div class="item" style="background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.8), transparent), url(../static/images/10011.jpg);">
              <div class="content">
                  <div class="title">Jaguar TCS Racing are the 2024 Formula E champions</div>
                  <div class="des">A record seasons point score for the ABB FIA World Championship</div>
                  <div class="btn">
                      <button>Learn more</button>
                      
                  </div>
              </div>
          </div>

          <div class="item" style="background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.8), transparent),url(../static/images/10006.jpg);">
              
            <div class="content">
              <div class="title">Jaguar TCS Racing are the 2024 Formula E champions</div>
              <div class="des">A record seasons point score for the ABB FIA World Championship</div>
              <div class="btn">
                  <button>Learn more</button>
                  
              </div>
          </div>

          </div>

          <div class="item" style="background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.8), transparent), url(../static/images/10008.jpg);">

            <div class="content">
              <div class="title">Jaguar TCS Racing are the 2024 Formula E champions</div>
              <div class="des">A record seasons point score for the ABB FIA World Championship</div>
              <div class="btn">
                  <button>Learn more</button>
                  
              </div>
          </div>

          </div>

          <div class="item" style="background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.8), transparent), url(../static/images/10009.jpg);">
              
            <div class="content">
              <div class="title">Jaguar TCS Racing are the 2024 Formula E champions</div>
              <div class="des">A record seasons point score for the ABB FIA World Championship</div>
              <div class="btn">
                  <button>Learn more</button>
                  
              </div>
          </div>

          </div>

          <div class="item" style="background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.8), transparent), url(../static/images/10010.jpg);">
              
            <div class="content">
              <div class="title">Jaguar TCS Racing are the 2024 Formula E champions</div>
              <div class="des">A record seasons point score for the ABB FIA World Championship</div>
              <div class="btn">
                  <button>Learn more</button>
                  
              </div>
          </div>

          </div>


      </div>

      <!--next prev button-->
      <!-- <div class="arrows">
          <button class="prev"><</button>
          <button class="next">></button>
      </div> -->

      <div class="timeRunning"></div>
   

  </div>
     <!-- time running -->
 
</div>
<div class="arrows">
  <button class="next"><i class="fa-solid fa-arrow-right"></i></button>
  <button class="prev"><i class="fa-solid fa-arrow-left"></i></button>  
</div>

<main>
    <section class="businesses container">
      <h2 class="mb-4">Transforming businesses</h2>
      <div class="business flex">
       <div class="business-card-wrap">
        <a href="#" class="business-card">
        </a>
          <div class="card-text">
            <h2 class="mb-2">A New nimble, NWC</h2>
            <p class="mb-2">
              Saudi Arabia’s National Water Company consolidates and
              transforms comprehensively
            </p>
            <div class="read-box">
              <p>Read more</p>
              <div class="read-underline"></div>
            </div>
          </div>
        
       </div>
       <div class="business-card-wrap">
        <a href="#" class="business-card">
        </a>
          <div class="card-text">
            <h2 class="mb-2">Gaining Momentum with AI</h2>
            <p class="mb-2">
              South-African insurer Momentum Metropolitan delivers chatbot
              service automation and better CX
            </p>
            <div class="read-box">
              <p>Read more</p>
              <div class="read-underline"></div>
            </div>
          </div>
        
       </div>
       <div class="business-card-wrap">
        <a href="#" class="business-card">
        </a>
          <div class="card-text">
            <h2 class="mb-2">Kautex kickstarts automation</h2>
            <p class="mb-2">
              SGerman automotive supplier develops end-to-end software
              capability
            </p>
            <div class="read-box">
              <p>Read more</p>
              <div class="read-underline"></div>
            </div>
            
          </div>
        
       </div>

     
      </div>
    </section>
</main>

<!-- industry -->
<main>
  <section class="industry-container">
    <h2 class="mb-4">Select your industry. Discover our impact.</h2>
    <div class="blocks">
        <div class="block">
          <div class="block-text">
            <i class="fa-solid fa-dollar-sign"></i>
            <p>Banking</p>
          </div>
          <i class="fa-solid fa-arrow-right"></i>
        </div>

        <div class="block">
          <div class="block-text">
            <i class="fa-solid fa-arrow-trend-up"></i>
            <p>Capital Markets</p>
          </div>
          <i class="fa-solid fa-arrow-right"></i>
        </div>

        <div class="block">
          <div class="block-text">
            <i class="fa-solid fa-satellite-dish"></i>
            <p>Communications, Media, and Information Services</p>
          </div>
          <i class="fa-solid fa-arrow-right"></i>
        </div>

        <div class="block">
          <div class="block-text">
            <i class="fa-solid fa-cart-shopping"></i>
            <p>Consumer Goods and Distribution</p>
          </div>
          <i class="fa-solid fa-arrow-right"></i>
        </div>

        <div class="block">
          <div class="block-text">
            <i class="fa-solid fa-graduation-cap"></i>
            <p>Education</p>
          </div>
          <i class="fa-solid fa-arrow-right"></i>
        </div>

        <div class="block">
          <div class="block-text">
            <i class="fa-solid fa-satellite-dish"></i>
            <p>Energy, Resources, and Utilities</p>
          </div>
          <i class="fa-solid fa-arrow-right"></i>
        </div>

        <div class="block">
          <div class="block-text">
            <i class="fa-solid fa-shield"></i>
            <p>Healthcare</p>
          </div>
          <i class="fa-solid fa-arrow-right"></i>
        </div>

        <div class="block">
          <div class="block-text">
            <i class="fa-solid fa-satellite"></i>
            <p>High Tech</p>
          </div>
          <i class="fa-solid fa-arrow-right"></i>
        </div>

        <div class="block">
          <div class="block-text">
            <i class="fa-solid fa-dollar-sign"></i>
            <p>Insurance</p>
          </div>
          <i class="fa-solid fa-arrow-right"></i>
        </div>

        <div class="block">
          <div class="block-text">
            <i class="fa-solid fa-dna"></i>
            <p>Life Sciences</p>
          </div>
          <i class="fa-solid fa-arrow-right"></i>
        </div>

        <div class="block">
          <div class="block-text">
            <i class="fa-solid fa-industry"></i>
            <p>Manufacturing</p>
          </div>
          <i class="fa-solid fa-arrow-right"></i>
        </div>

        <div class="block">
          <div class="block-text">
            <i class="fa-solid fa-hand-holding-heart"></i>
            <p>Public Services</p>
          </div>
          <i class="fa-solid fa-arrow-right"></i>
        </div>

        <div class="block">
          <div class="block-text">
            <i class="fa-solid fa-card-shopping"></i>
            <p>Retail</p>
          </div>
          <i class="fa-solid fa-arrow-right"></i>
        </div>

        <div class="block">
          <div class="block-text">
            <i class="fa-solid fa-plane"></i>
            <p>Travel and Logistics</p>
          </div>
          <i class="fa-solid fa-arrow-right"></i>
        </div>
       


    </div>
  </section>  

</main>

{% endblock %}